@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');
body{
    color :lavender;
    background-color: lightpink;
    font-family: Arial;
    font-size: 40px;
    padding: 100px;
}